<div class="row">

	<!-- Article main content -->
	<article class="col-xs-12 maincontent">
		<header class="page-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<h1 class="page-title text-center">Registration</h1>
		</header>

		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="thin text-center">Register a new account</h3>
					<p class="text-center text-muted">Join Jobby Community Now !</p>
					<hr>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="top-margin">
              <%= f.label :email %><span class="text-danger">*</span><br />
              <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
            </div>

            <div class="row top-margin">
              <div class="col-sm-6">
                <%= f.label :password %><span class="text-danger">*</span>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
              </div>

              <div class="col-sm-6">
                <%= f.label :password_confirmation %><span class="text-danger">*</span><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
              </div>
            </div>

            <hr>

            <div class="row">
							<div class="col-lg-8">
								<label class="checkbox">
									<input type="checkbox">
									I've read the <a href="page_terms.html">Terms and Conditions</a>
								</label>
							</div>
              <div class="actions col-lg-4 text-right">
                <%= f.submit "Sign up", :class => "btn btn-action" %>
              </div>
						</div>

          <% end %>
				</div>
			</div>

		</div>

	</article>
	<!-- /Article -->

</div>


<%# render "devise/shared/links" %>
