<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container" style="padding-top:50px;padding-bottom:50px;">
  <div>
    <div class="row" style="padding-top:5px;padding-bottom:5px;">
      <div class="field">
        <div class="col-md-2"><%= f.label :title %></div>
        <div class="col-md-6"><%= f.text_field :title, :class=>"form-control" %></div>
      </div>
    </div>
    <div class="row" style="padding-top:5px;padding-bottom:5px;">
      <div class="field">
        <div class="col-md-2"><%= f.label :duration %></div>
        <div class="col-md-6"><%= f.text_field :duration, :class=>"form-control" %></div>
      </div>
    </div>
    <div class="row" style="padding-top:5px;padding-bottom:5px;">
      <div class="field">
        <div class="col-md-2">  <%= f.label :budget %> </div>
        <div class="col-md-6"><%= f.text_field :budget, :class=>"form-control" %></div>
      </div>
    </div>
    <div class="row" style="padding-top:5px;padding-bottom:5px;">
      <div class="field">
        <div class="col-md-2"><%= f.label :description %></div>
        <div class="col-md-6"><%= f.text_area :description, cols:"100", rows:"15", :class=>"form-control" %></div>
      </div>
    </div>
    <!-- <div class="field">
      <%= f.label :skill %>
      <%= f.text_field :skill %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :create_by %>
      <%= f.number_field :create_by %>
    </div> -->
    <div class="row">
      <div class="col-md-8">
        <div class="actions text-right">
          <%= f.submit :class=>"btn btn-lg btn-action"%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
