<div class="container" style="padding-top:50px;padding-bottom:50px;">
  <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <p>
          <div class="col-md-2"><strong>Title</strong></div>
          <div class="col-md-8"><%= @job.title %></div>
        </p>
      </div>

      <div class="row">
        <p>
          <div class="col-md-2"><strong>Duration</strong></div>
          <div class="col-md-8"><%= @job.duration %></div>
        </p>
      </div>

      <div class="row">
        <p>
          <div class="col-md-2"><strong>Budget</strong></div>
          <div class="col-md-8"><%= number_to_currency(@job.budget, :unit => "€") %></div>
        </p>
      </div>

      <div class="row">
        <p>
          <div class="col-md-2"><strong>Description</strong></div>
          <div class="col-md-8"><%= @job.description %></div>
        </p>
      </div>
        <!-- <p>
          <div class="col-md-2"><strong>Skill</strong></div>
            <%#= @job.skill %>
        </p>

        <p>
          <div class="col-md-2"><strong>Status</strong></div>
            <%#= @job.status %>
        </p>

        <p>
          <div class="col-md-2"><strong>Create by</strong></div>
            <%#= @job.create_by %> -->
          <%# creator = User.all.find_by(:id =>@job.create_by) %>
          <%#= creator.name %>
  <!--
        </p> -->
        <br>
      <div class="row">
        <%= link_to 'Edit', edit_job_path(@job), :class => "btn btn-action" %>
        <%= link_to 'Back', jobs_path, :class => "btn btn-action" %>
      </div>
  </div>
</div>
