<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jobby | One Stop Freelance Job</title>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The best place to look for the job you are passionate about">
	<meta name="author"      content="Codingshop House">

	<!-- <title>Progressus - Free business bootstrap template by GetTemplate</title> -->

	<link rel="shortcut icon" href="assets/gt_favicon.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
	<link rel="stylesheet" href="assets/font-awesome.min.css">


	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body class="home">
    <%= render 'layouts/menu' %>

    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>

    <footer id="footer" class="top-space">

  		<div class="footer1">
  			<div class="container">
  				<div class="row">

  					<div class="col-md-3 widget">
  						<h3 class="widget-title">Contact</h3>
  						<div class="widget-body">
  							<p>+04 1234567<br>
  								<a href="mailto:#">jobby.freelance@gmail.com</a><br>
  								<br>
  								The Coding Shop House<br>84, Lebuh Melayu, 10100 Georgetown, Penang.
  							</p>
  						</div>
  					</div>

  					<div class="col-md-3 widget">
  						<h3 class="widget-title">Follow Us</h3>
  						<div class="widget-body">
  							<p class="follow-me-icons">
  								<a href="https://www.facebook.com/thecodingshophouse"><i class="fa fa-facebook fa-2"></i></a>
  								<!-- <a href=""><i class="fa fa-twitter fa-2"></i></a>
  								<a href=""><i class="fa fa-linkedin fa-2"></i></a>
  								<a href=""><i class="fa fa-github fa-2"></i></a> -->
  							</p>
  						</div>
  					</div>

  					<div class="col-md-6 widget">
  						<!-- <h3 class="widget-title">Text widget</h3> -->
  						<div class="widget-body">
  							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
  							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p> -->
  						</div>
  					</div>

  				</div> <!-- /row of widgets -->
  			</div>
  		</div>

  		<div class="footer2">
  			<div class="container">
  				<div class="row">

  					<div class="col-md-6 widget">
  						<div class="widget-body">
  							<p class="simplenav">
  								<a href="#">Home</a> |
  								<a href="about.html">About</a> |
  								<a href="sidebar-right.html">Sidebar</a> |
  								<a href="contact.html">Contact</a> |
  								<b><a href="signup.html">Sign up</a></b>
  							</p>
  						</div>
  					</div>

  					<div class="col-md-6 widget">
  						<div class="widget-body">
  							<p class="text-right">
  								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
  							</p>
  						</div>
  					</div>

  				</div>
  			</div>
  		</div>
  	</footer>
  <!-- Latest compiled and minified JavaScript -->
  <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="assets/headroom.min.js"></script>
  <script src="assets/jQuery.headroom.min.js"></script>
  <script src="assets/template.js"></script>
</body>
</html>
